/* 
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL
*/
.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 
HEADER
*/

/* HEADER TOP */
header .header-top{
    background-color: white;
    height: 60px;
}

header nav li{
    display: inline-block;
}

header nav .header-top-left{
    text-align: left;
    text-decoration: none;
}

header nav .header-top-right{
    text-align: right;
    text-decoration: none;
}

/* HEADER BOTTOM */

header .header-bottom .text-col{
    width: 30%;
}

header .header-bottom .img-col{
    width: 70%;
}


/* 
MAIN
*/

main section{
    margin-top: 30px;
}

main section .row-w-3col{
    justify-content: space-between;
}

main section .row-w-3col .single-col{
    width: calc(90% / 3 );
}

main section .large-single-col{
    margin-top: 30px;
}

main .full-width-row .single-col{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

main .full-width-row .single-col .little-square{
    width: 50%;
    height: 50%;
}

main section.full-width-row{
    width: 100%;
}

main section:nth-child(6){
    background-color: #B4D0E7;
    margin-top: 0px;
    padding: 30px;
}

main section:nth-child(7){
    padding-bottom: 50px;
}

main section:nth-child(7) .small-container div:first-child{
    border-bottom: 2px solid grey;
}

main section:nth-child(7) .small-container div{
    padding: 30px 5px;
}

main section:nth-child(7) .small-container div i{
    padding-left: 30%;
}

/* 
FOOTER
*/

footer{
    background-color: black;
    color: white;
    padding: 50px 0px;
}

footer .footer-col{
    width: calc(100% / 5);
}

footer .footer-col a{
    display: block;
    text-decoration: none;
    color: white; 
}

footer .footer-col *{
    padding: 10px;
}

footer .big-container .flex-row div.footer-col:first-child{
    border-bottom: 1px solid grey;
    padding-bottom: 100px;
}

footer .big-container > div:nth-child(2){
    padding: 40px 0px;
}

footer .big-container div:nth-child(2) span{
    padding: 0px 5px;
}




/* 
DEBUG
*/

.debug .header-top{
    background-color: aquamarine;
    border: 1px dashed red;
}

.debug .header-bottom{
    background-color: lightgreen;
    border: 1px dashed red;
    height: 500px;
}

.debug .header-bottom *{
    border: 1px dashed red;
}

.debug main section .row-w-3col .single-col{
    background-color: bisque;
    border: 1px dashed red;
    height: 200px;
}

.debug main section .large-single-col{
    background-color: lightgoldenrodyellow;
    border: 1px dashed red;
    height: 100px;
}

.debug .single-col-section .small-container{
    background-color: orange;
    height: 400px;
}

.debug .single-col-section .small-container *{
    border: 1px dashed red;
}

.debug main .full-width-row .single-col{
    border: 1px dashed red;
    background-color: lightpink;
}

.debug main .full-width-row .single-col .little-square{
    border: 1px dashed red;
    background-color: mediumslateblue;
}

.debug main section:nth-child(7){
    background-color: lightcoral;
}
