/* 
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL
*/
.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blue-button{
    background-color: #0061FF;
    padding: 6px 12px;
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

.white-button{
    background-color: white;
    padding: 5px 12px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    font-size: 0.85em;
}

.full-width-button{
    display: block;
    width: 100%;
    text-align: center;
}



/* 
HEADER
*/

/* HEADER TOP */
header .header-top{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header nav li{
    display: inline-block;
}

header nav .header-top-left{
    text-align: left;
}

header nav .header-top-right{
    text-align: right;
}

header nav ul div li a{
    text-decoration: none;
    vertical-align: middle;
    color: black;
}

header nav ul div li{
    margin: 20px 20px;
}


/* HEADER BOTTOM */

header .header-bottom{
    padding-top: 140px;
    background-color: #B4D0E7;
    height: 710px;
}

header .header-bottom h1{
    font-size: 4em;
    font-weight: 900;
}

header .header-bottom .text-col{
    width: 30%;
}

header .header-bottom .img-col{
    width: 70%;
}

header .header-bottom .text-col p{
    padding: 20px 0px;
}
header .header-bottom .img-col img{
    width: 100%;
}


/* 
MAIN
*/

.checked-radio-button{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-color: #0061FF;
    border-style: solid;
    border-width: 4px;
    display: inline-block;
    line-height: 2em;
}

.unchecked-radio-button{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    line-height: 2em;
}

main h2{
    font-size: 2.5em;
    padding-bottom: 40px;
}

main section{
    margin-top: 160px;
}

main img{
    width: 100%;
}

.img-col{
    width: 60%;
}

.text-col{
    width: 40%;
}

/* MAIN 1ST SECTION UPPER HALF */

main .section-n1:first-child div span{
    line-height: 2em;
    padding-right: 30px;
}

main section .row-w-3col{
    justify-content: space-between;
}

main section .small-container > div:first-of-type{
    padding-top: 30px;
}

main section .row-w-3col .single-col{
    width: calc(90% / 3 );
    border: 1px solid grey;
}

main section .row-w-3col .single-col > *:not(:first-child):not(hr){
    padding: 15px 25px;
}

main .section-n1 .row-w-3col .single-col p:first-of-type{
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid black;
}

main section .row-w-3col .single-col p:nth-of-type(2){
   font-weight: bold;
}

main section .row-w-3col .single-col p:nth-child(6){
    padding-top: 30px;
    padding-bottom: 30px;
}

main section .row-w-3col .single-col p:last-of-type{
    padding-bottom: 30px;
}

main section .row-w-3col .single-col ul li{
    list-style: none;
    padding: 10px 0px;
}

main section .row-w-3col .single-col ul:nth-of-type(2) li i{
    color: #0061FF;
} 

main section .row-w-3col .single-col > hr{
    width: calc(100% / 4);
    margin-left: 20px;
    margin-bottom: 30px;
} 

main section .row-w-3col .single-col > h3{
    margin-top: 20px;
} 


    

/* MAIN 1ST SECTION BOTTOM HALF */

#large-single-col{
    margin-top: 50px;
    width: 100%;
}

#large-single-col h3{
    display: inline-block;
}

#large-single-col p:nth-of-type(2){
    display: inline-block;
    position: relative;
    top: 0;
    left: 64%;
    font-weight: 500;
}

#large-single-col p:nth-of-type(3){
    font-weight: bold;
}











main .full-width-row .single-col{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

main .full-width-row .single-col .little-square{
    width: 50%;
    height: 50%;
}

main section.full-width-row{
    width: 100%;
}

main section:nth-child(6){
    background-color: #B4D0E7;
    margin-top: 0px;
    padding: 30px;
}

main section:nth-child(7){
    padding-bottom: 50px;
}

main section:nth-child(7) .small-container div:first-child{
    border-bottom: 2px solid grey;
}

main section:nth-child(7) .small-container div{
    padding: 30px 5px;
}

main section:nth-child(7) .small-container div i{
    padding-left: 30%;
}

/* 
MAIN 2ND SECTION
*/

main section .text-col {
    padding: 40px 30px;
}

main section .text-col *{
    margin: 20px 0px;
    font-size: 1.1em;
}

/* 
MAIN 3rd SECTION
*/

main .section-n3 .small-container div .single-col *:not(img){
    padding: 10px 10px;
    text-align: left;
    margin: 0;
}

main .section-n3 .small-container div .single-col{
    margin-bottom: 30px;
    border: none;
}


/* 
MAIN 5TH SECTION
*/

main section div .single-col .little-square{
    position: relative;
}

main section .little-square img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -100%);
    scale: 50%;
    filter: invert(1);
}

main section .little-square-1st-col div.little-square:first-of-type{
    background-color: #A2D39B;
}

main section .little-square-1st-col div.little-square:nth-of-type(2){
    background-color: #61082B;
}

main section .little-square-1st-col div.little-square:nth-of-type(3){
    background-color: #0093CE;
}

main section .little-square-1st-col div.little-square:nth-of-type(4){
    background-color: #FF1C1C;
}

main section .full-width-row > div:nth-child(2){
    background-color: #F5F5F5;
}

main section .little-square-2nd-col div.little-square:nth-of-type(1){
    background-color: #D5001F;
}

main section .little-square-2nd-col div.little-square:nth-of-type(2){
    background-color: #B4D0E7;
}

main section .little-square-2nd-col div.little-square:nth-of-type(3){
    background-color: #0D2481;
}
main section .little-square-2nd-col div.little-square:nth-of-type(4){
    background-color: #FFD830;
}

main section .full-width-row .big-square-col img{
    position: relative;
    scale: 50%;
    left: -25%;
}

main section .full-width-row .big-square-col{
    padding: 0px 50px;
}

main section .full-width-row .big-square-col hr{
    width: calc(100% / 4);
    margin-bottom: 30px;
}

main section .full-width-row .big-square-col p{
    margin-bottom: 40px;
}





/* 
FOOTER
*/

footer{
    background-color: black;
    color: white;
    padding: 50px 0px;
}

footer .footer-col{
    width: calc(100% / 5);
}

footer .footer-col a{
    display: block;
    text-decoration: none;
    color: white; 
}

footer .footer-col *{
    padding: 10px;
}

footer .big-container .flex-row div.footer-col:first-child{
    border-bottom: 1px solid grey;
    padding-bottom: 100px;
}

footer .big-container > div:nth-child(2){
    padding: 40px 0px;
}

footer .big-container div:nth-child(2) span{
    padding: 0px 5px;
}




/* 
DEBUG
*/

/* .debug .header-top{
    background-color: aquamarine;
    border: 1px dashed red;
} */

/* .debug .header-bottom{
    background-color: lightgreen;
    border: 1px dashed red;
    height: 700px;
}

.debug .header-bottom *{
    border: 1px dashed red;
} */

/* .debug main section .row-w-3col .single-col{
    background-color: bisque;
    height: 200px; 
} */

/* .debug main section .large-single-col{
    background-color: lightgoldenrodyellow;
    border: 1px dashed red;
    height: 100px;
} */

/* .debug .single-col-section .small-container{
    background-color: orange;
    height: 400px;
} */

/* .debug .single-col-section .small-container *{
    border: 1px dashed red;
} */

/* .debug main .full-width-row .single-col{
    background-color: lightpink;
}

.debug main .full-width-row .single-col .little-square{
    border: 1px dashed red;
    background-color: mediumslateblue; 
}*/

.debug main section:nth-child(7){
    background-color: lightcoral;
}

.debug main section .row-w-3col .single-col ul li{
    border: 1px dashed red;
}

.debug main section .row-w-3col .single-col ul li i{
    border: 1px dashed red;
}